@{
    ViewData["Title"] = "Inicio";
}


<div class="container">
    <h1>Registros</h1>
    <div class="row">
        <div class="col-md-12">
            <a asp-action="ListEmploye" asp-controller="Employee" class="btn btn-primary mt-3 mb-3">Ver empleados</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">

            @if (ViewBag.UserName != null)
            {
                <p class="fs-3">Bienvenido @ViewBag.UserName</p>
            }
        </div>
        
        @if(ViewBag.Entry == null)
        {
            <div class="col-md-2">
                <form asp-action="EntryTimeEmployee" asp-controller="Employee" method="post">
                    <button class="btn btn-success">Registar ingreso</button>
                </form>
            </div>
        }

        else{

            <div class="col-md-2">
                <form asp-action="DepartureTimeEmployee" asp-controller="Employee" method="post">
                    <button class="btn btn-danger">Registar salida</button>
                </form>
            </div>
        }

        <div class="col-md-4 d-flex justify-content-end">
            <form asp-action="Logout" asp-controller="Employee" method="post">
                <button class="btn btn-dark">Cerrar sesion</button>
            </form>
        </div>
    </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id registro</th>
                    <th scope="col">Hora Inicio</th>
                    <th scope="col">Hora Salida</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @if(ViewBag.UserId != null)
                {

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.FechaIngreso</td>
                        <td>@item.FechaSalida</td>
                        <td>
                            <a asp-action="" asp-controller="" class="btn btn-success" asp-route-id="">Comentarios</a>
                        </td>
                    </tr>
                }
                }
            </tbody>
        </table>

</div>
