@{
    ViewData["Title"] = "Inicio";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">

            @if (ViewBag.UserName != null)
            {
                <p class="fs-3">Bienvenido @ViewBag.UserName</p>
            }
        </div>

        <div class="col-md-2">
            <form action="">
                <button class="btn btn-success">Registar ingreso</button>
            </form>
        </div>

        <div class="col-md-2">
           <form action="">
                <button class="btn btn-danger">Registar salida</button>
            </form>
        </div>

        <div class="col-md-4 d-flex justify-content-end">
            <form asp-action="Logout" method="post">
                <button class="btn btn-dark">Cerrar sesion</button>
            </form>
        </div>
    </div>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id registro</th>
                    <th scope="col">Empleado</th>
                    <th scope="col">Hora Inicio</th>
                    <th scope="col">Hora Salida</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {   
                    <td>@item.Id</td>
                    <td>@item.Employee.Name</td>
                }
            </tbody>
        </table>
    </div>
</div>

