@{
    ViewData["Title"] = "Empleado";
}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Apellido</th>
                <th scope="col">Correo</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.LastName</td>
                    <td>@item.Email</td>
                    <td>
                        <a asp-controller="" asp-action="" asp-route-id="" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>