@{
    ViewData["Title"] = "Inicio";
}
@* @model Employee; *@
<div class="container">

    <div class="row d-flex justify-content-center">
        <div class="col-md-4">
                <h2 class="text-center mt-5">Inicar sesión</h2>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <form asp-action="Login" asp-controller="Home" method="post" >

                <div class="mt-3">
                    <label for="" class="form-label">Email</label>
                    <input type="text" name="email" id="" class="form-control" autocomplete="off">
                </div>

                <div class="mt-3">
                    <label for="" class="form-label">Password</label>
                    <input type="password" name="password" id="" class="form-control">
                </div>

                    <button class="btn btn-success w-100 mt-3">Ingresar</button>

                <div class="mt-2 text-center">
                    <a asp-action="Create" asp-controller="Employee" style="text-decoration: none;">Crear cuenta</a>
                </div>

                @if(TempData["errorMessage"] != null)
                {
                <div class="alert alert-danger mt-3">
                   <p class="d-flex justify-content-center align-items-center"> @TempData["errorMessage"]</p>
                </div>
                } 
            </form>     
        </div>
    </div>
</div>